footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 8vh;
    background-color: #7D70FE;

    nav {
        display: flex;
        justify-content: space-between;
        width: 45vw;
    }
}