main-container{
    margin:2%;
}
.center{
    .flex();
    align-items: center;
    img{
        width: 20vw;
        padding:10% 0 10% 0;
        border-radius: 18px;
        }
    .title{
        display:flex;
        width: 40%;
        margin-left:8.5%;
    }    
}

h1{
    display: inline;
    align-self: center;
    margin: 5% 0% 0% 5%;
}

.middle{
    display: flex;
    width:100%;
    justify-content: space-around;
    text-align: center;
    padding-bottom: 5%;
    @media @mobile{
        flex-direction: column;
        align-items: center;
        margin: auto;
    }
    .info{
        display: flex;
        text-align: left;
        width:25%;
        padding: 1%;
        border: 2px solid purple;
        @media @mobile{
            width: 60%;
            margin: 4%;
        }
}

//contact page

}
.main-street{
    .flex();
    .signUpButton{
        text-decoration: none;
        color: #F83E49;
        border: 1px solid black;
        border-radius: 5%;
        font-size: 1.6rem;
        margin: 5% auto;
    }
}
.topPart{
    .flex();
    align-items: center;
    h2{
        margin: 1% 0;
    
    }
    p{
        width: 80%;
    }   
}    
.tLinfo{
    display: flex;
    flex-direction: column-reverse;
    margin: 2% auto;
    width: 40%;
    text-align: center;
    img{
        margin: auto;
    }
}

.SecTeam{
    display:flex;
    justify-content: space-evenly;
    margin: 2% auto;
    @media @mobile{
        display: block;
    }

    .child{
        display:flex;
        flex-direction: column-reverse;
        align-items: center;
        width: 40%;
        margin: auto;
    }
}
address button{
    padding: .5%;

}