.topContent {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    height: 60%;

    #topContentHeading {
        position: absolute;
        top: 25;
        left: 20;
    }

    div {
        width: 30%;
    }

    .sbCard {
        .sbCardStyle();
    }
    
    .sbCard {
        .sbCardStyle();
    }
    
    .sbCard {
        .sbCardStyle();
    }
}

.sharedContent {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    height: 80%;

    #sharedContentHeading {
        position: absolute;
        top: 25;
        left: 20;
    }

    div {
        width: 30%;
    }

    p {
        padding-left: 2%;
    }

    .sharedCard{
        .sharedCardStyle();
    }

    .sharedImg {
        border-radius: 50%;
        width: 40%;
        height: 50%;
        margin-bottom: 10%;
    }

    .button {
        position: absolute;
        bottom: 30;
        width: 10%;
        height: 7%;
        border-radius: 10px;
        color: white;
        background-color: #7D70FE;
    }
}

